.main-layout-container{
     
}

.component-cont{
    height: 100vh;
   display: flex;


}
.main-cont{
    padding: 30px 60px;
}

.sidebar-area{
    width: 20%;
    padding: 20px;
    background-color: white;
    height: 100%;
     box-shadow: 4px 0 8px -2px rgba(0,0,0,0.2);
     display: flex;
     flex-direction: column;
     gap: 50px;
     background-color: #111827;
}
.side-bar-logo{
    width: 90%;
     margin: 0 auto;
}

.sidebar-cont{
  
    
}

.main-content-area{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.side-bar-logo img{
   cursor: pointer;
}

@media(max-width: 1300px){
    .sidebar-area{
        width: 30%;
    }
    .main-content-area{
        width: 70%;
    }
}

@media(max-width: 769px){
    .component-cont{
        width: 100%;

    }

    .main-cont{
        padding: 20px;
    }
    .sidebar-area{
        display: none;
    }
    .main-content-area{
        width: 100%;   
    }
}