.setting-options-container{
background-color: #111827;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.setting-options,
.active-setting-option{
    display: flex;
    align-items: center; 
    gap: 10px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.active-setting-option{
    background-color:  white;
    color : black;
    border-radius: 6px;
}
.setting-options:hover{
        background-color: rgba(255, 255, 255, 0.214);
    border-radius: 6px;
}